-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: task_manager
-- ------------------------------------------------------
-- Server version	8.0.46
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO,ANSI' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table "auth_identities"
--

DROP TABLE IF EXISTS "auth_identities";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE "auth_identities" (
  "id" int unsigned NOT NULL AUTO_INCREMENT,
  "user_id" int unsigned NOT NULL,
  "provider" enum('local','google') NOT NULL,
  "provider_user_id" varchar(255) DEFAULT NULL,
  "password_hash" varchar(255) DEFAULT NULL,
  "created_at" datetime NOT NULL,
  "updated_at" datetime NOT NULL,
  PRIMARY KEY ("id"),
  KEY "user_id" ("user_id"),
  CONSTRAINT "auth_identities_ibfk_1" FOREIGN KEY ("user_id") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "auth_identities"
--

LOCK TABLES "auth_identities" WRITE;
/*!40000 ALTER TABLE "auth_identities" DISABLE KEYS */;
INSERT INTO "auth_identities" VALUES (1,1,'local',NULL,'$2a$10$uJ7S5OWKJlz2d.D.U2zXiO/VxAoX5RPUAR8aUsL0lAIdRsYkNMofy','2026-08-19 12:33:02','2026-08-19 12:33:02');
/*!40000 ALTER TABLE "auth_identities" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "organization_invitations"
--

DROP TABLE IF EXISTS "organization_invitations";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE "organization_invitations" (
  "id" int unsigned NOT NULL AUTO_INCREMENT,
  "organization_id" int unsigned NOT NULL,
  "email" varchar(190) NOT NULL,
  "role" enum('admin','manager','member','client') NOT NULL DEFAULT 'member',
  "token" varchar(255) NOT NULL,
  "invited_by" int unsigned NOT NULL,
  "status" enum('pending','accepted','expired','cancelled') NOT NULL DEFAULT 'pending',
  "expires_at" datetime NOT NULL,
  "accepted_at" datetime DEFAULT NULL,
  "created_at" datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  "updated_at" datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY ("id"),
  UNIQUE KEY "token" ("token"),
  KEY "organization_id" ("organization_id"),
  KEY "invited_by" ("invited_by"),
  CONSTRAINT "organization_invitations_ibfk_1" FOREIGN KEY ("organization_id") REFERENCES "organizations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT "organization_invitations_ibfk_2" FOREIGN KEY ("invited_by") REFERENCES "users" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "organization_invitations"
--

LOCK TABLES "organization_invitations" WRITE;
/*!40000 ALTER TABLE "organization_invitations" DISABLE KEYS */;
/*!40000 ALTER TABLE "organization_invitations" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "organization_members"
--

DROP TABLE IF EXISTS "organization_members";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE "organization_members" (
  "id" int unsigned NOT NULL AUTO_INCREMENT,
  "organization_id" int unsigned NOT NULL,
  "user_id" int unsigned NOT NULL,
  "role" enum('owner','admin','manager','member','client') NOT NULL DEFAULT 'member',
  "is_active" tinyint(1) NOT NULL DEFAULT '1',
  "joined_at" datetime NOT NULL,
  "created_at" datetime NOT NULL,
  "updated_at" datetime NOT NULL,
  PRIMARY KEY ("id"),
  UNIQUE KEY "organization_members_org_user_unique" ("organization_id","user_id"),
  KEY "user_id" ("user_id"),
  CONSTRAINT "organization_members_ibfk_1" FOREIGN KEY ("organization_id") REFERENCES "organizations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT "organization_members_ibfk_2" FOREIGN KEY ("user_id") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "organization_members"
--

LOCK TABLES "organization_members" WRITE;
/*!40000 ALTER TABLE "organization_members" DISABLE KEYS */;
INSERT INTO "organization_members" VALUES (1,1,1,'owner',1,'2026-08-19 12:33:02','2026-08-19 12:33:02','2026-08-19 12:33:02');
/*!40000 ALTER TABLE "organization_members" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "organizations"
--

DROP TABLE IF EXISTS "organizations";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE "organizations" (
  "id" int unsigned NOT NULL AUTO_INCREMENT,
  "name" varchar(150) NOT NULL,
  "slug" varchar(150) NOT NULL,
  "created_at" datetime NOT NULL,
  "updated_at" datetime NOT NULL,
  PRIMARY KEY ("id"),
  UNIQUE KEY "slug" ("slug")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "organizations"
--

LOCK TABLES "organizations" WRITE;
/*!40000 ALTER TABLE "organizations" DISABLE KEYS */;
INSERT INTO "organizations" VALUES (1,'Humancare Child Company','humancare-child-company-1787142781818','2026-08-19 12:33:01','2026-08-19 12:33:01');
/*!40000 ALTER TABLE "organizations" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "project_members"
--

DROP TABLE IF EXISTS "project_members";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE "project_members" (
  "id" int unsigned NOT NULL AUTO_INCREMENT,
  "project_id" int unsigned NOT NULL,
  "user_id" int unsigned NOT NULL,
  "role" enum('manager','member','viewer') NOT NULL DEFAULT 'member',
  "joined_at" datetime NOT NULL,
  "created_at" datetime NOT NULL,
  "updated_at" datetime NOT NULL,
  PRIMARY KEY ("id"),
  UNIQUE KEY "project_members_project_user_unique" ("project_id","user_id"),
  KEY "user_id" ("user_id"),
  CONSTRAINT "project_members_ibfk_1" FOREIGN KEY ("project_id") REFERENCES "projects" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT "project_members_ibfk_2" FOREIGN KEY ("user_id") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "project_members"
--

LOCK TABLES "project_members" WRITE;
/*!40000 ALTER TABLE "project_members" DISABLE KEYS */;
/*!40000 ALTER TABLE "project_members" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "projects"
--

DROP TABLE IF EXISTS "projects";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE "projects" (
  "id" int unsigned NOT NULL AUTO_INCREMENT,
  "organization_id" int unsigned NOT NULL,
  "name" varchar(150) NOT NULL,
  "description" text,
  "status" enum('planned','active','on_hold','completed','archived') NOT NULL DEFAULT 'planned',
  "priority" enum('low','medium','high','urgent') NOT NULL DEFAULT 'medium',
  "start_date" datetime DEFAULT NULL,
  "due_date" datetime DEFAULT NULL,
  "created_by" int unsigned NOT NULL,
  "created_at" datetime NOT NULL,
  "updated_at" datetime NOT NULL,
  PRIMARY KEY ("id"),
  KEY "projects_organization_id_index" ("organization_id"),
  KEY "projects_created_by_index" ("created_by"),
  CONSTRAINT "projects_ibfk_1" FOREIGN KEY ("organization_id") REFERENCES "organizations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT "projects_ibfk_2" FOREIGN KEY ("created_by") REFERENCES "users" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "projects"
--

LOCK TABLES "projects" WRITE;
/*!40000 ALTER TABLE "projects" DISABLE KEYS */;
INSERT INTO "projects" VALUES (1,1,'humancare connect','humancare connect','planned','medium','2026-08-19 00:00:00','2026-08-22 00:00:00',1,'2026-08-19 15:42:00','2026-08-19 15:42:00');
/*!40000 ALTER TABLE "projects" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "sequelizemeta"
--

DROP TABLE IF EXISTS "sequelizemeta";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE "sequelizemeta" (
  "name" varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY ("name"),
  UNIQUE KEY "name" ("name")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "sequelizemeta"
--

LOCK TABLES "sequelizemeta" WRITE;
/*!40000 ALTER TABLE "sequelizemeta" DISABLE KEYS */;
INSERT INTO "sequelizemeta" VALUES ('20260812060559-create-organizations.js'),('20260812062230-create-users.js'),('20260812063038-create-auth-identities.js'),('20260812063102-create-organization-members.js'),('20260814115900-create-organization-invitations.js'),('20260814132954-create-projects.js'),('20260818073952-create-project-members.js'),('20260818093856-create-tasks.js');
/*!40000 ALTER TABLE "sequelizemeta" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "tasks"
--

DROP TABLE IF EXISTS "tasks";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE "tasks" (
  "id" int unsigned NOT NULL AUTO_INCREMENT,
  "organization_id" int unsigned NOT NULL,
  "project_id" int unsigned NOT NULL,
  "title" varchar(200) NOT NULL,
  "description" text,
  "status" enum('todo','in_progress','review','completed') NOT NULL DEFAULT 'todo',
  "priority" enum('low','medium','high','urgent') NOT NULL DEFAULT 'medium',
  "assigned_to" int unsigned DEFAULT NULL,
  "created_by" int unsigned NOT NULL,
  "due_date" datetime DEFAULT NULL,
  "created_at" datetime NOT NULL,
  "updated_at" datetime NOT NULL,
  PRIMARY KEY ("id"),
  KEY "tasks_organization_id" ("organization_id"),
  KEY "tasks_project_id" ("project_id"),
  KEY "tasks_assigned_to" ("assigned_to"),
  KEY "tasks_created_by" ("created_by"),
  CONSTRAINT "tasks_ibfk_1" FOREIGN KEY ("organization_id") REFERENCES "organizations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT "tasks_ibfk_2" FOREIGN KEY ("project_id") REFERENCES "projects" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT "tasks_ibfk_3" FOREIGN KEY ("assigned_to") REFERENCES "users" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT "tasks_ibfk_4" FOREIGN KEY ("created_by") REFERENCES "users" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "tasks"
--

LOCK TABLES "tasks" WRITE;
/*!40000 ALTER TABLE "tasks" DISABLE KEYS */;
INSERT INTO "tasks" VALUES (1,1,1,'test','test','review','medium',NULL,1,'2026-08-21 00:00:00','2026-08-19 15:43:05','2026-08-19 15:43:05');
/*!40000 ALTER TABLE "tasks" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "users"
--

DROP TABLE IF EXISTS "users";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE "users" (
  "id" int unsigned NOT NULL AUTO_INCREMENT,
  "first_name" varchar(100) NOT NULL,
  "last_name" varchar(100) DEFAULT NULL,
  "email" varchar(190) NOT NULL,
  "phone" varchar(20) DEFAULT NULL,
  "avatar_url" varchar(500) DEFAULT NULL,
  "email_verified_at" datetime DEFAULT NULL,
  "is_active" tinyint(1) NOT NULL DEFAULT '1',
  "last_login_at" datetime DEFAULT NULL,
  "created_at" datetime NOT NULL,
  "updated_at" datetime NOT NULL,
  PRIMARY KEY ("id"),
  UNIQUE KEY "email" ("email")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "users"
--

LOCK TABLES "users" WRITE;
/*!40000 ALTER TABLE "users" DISABLE KEYS */;
INSERT INTO "users" VALUES (1,'Satish ','Dalvi','satishdalvi@gmail.com',NULL,NULL,NULL,1,'2026-08-20 10:44:24','2026-08-19 12:33:01','2026-08-20 10:44:24');
/*!40000 ALTER TABLE "users" ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-24 11:50:12
